body {
	overflow-x: hidden;
}
.jumbotron {
	margin-bottom: 0px !important;
	background: url('../../assets/images/header-bg.jpg');
	vertical-align: middle !important;
	text-align: center !important;
	color: #fff;

	h2 {
		display: inline-block;
		font-family: 'existence-light';
		font-size: 90px;
	}

	  #right {
	  	color: #9f449b;
	  }

	  p, span {
	  	font-family: 'existence-light';
	  }

	  .row {
	  		a {
	  			transform: scale(0.6);
	  		}
		}
}


.navbar {
	margin: 10px 0px;
}

.navbar-default {
	background: #fff !important;
	border-radius: 0px;
	border: transparent !important;
}

.navbar .navbar-brand {
	span {
		font-size: 20px;
		display: inline-block;
		font-family: 'existence-hairline';
	}

	#right {
		color: #cfa1cd;
	}	
}

.navbar-default .navbar-nav>li>a {
	font-weight: bold;
}

#home_container {
	padding: 40px 0px 100px 0px;
	background-color: #eeeeee;
	text-align: center;

	.row {
			a {
				cursor: pointer;
				transform: scale(0.6);
			}
	}	
}

#aboutus_container {
	text-align: center;

	h3 {
		margin-bottom: 80px;
		font-size: 35px;
		display: inline-block;
		font-family: 'existence-hairline';
	}

	#right {
		color: #cfa1cd;
	}

	img {
		transform: scale(0.6);
	}

	p {
		font-family: 'existence-light';
		text-align: left;
		font-size: 16px;
		line-height: 30px;
	}

	button {
		padding: 15px 35px;
		background-color: #9f449b;
		color: #fff;
		border-bottom: 3px solid #6b2e68;
	}
}


.bgfiller_container {
	text-align: center;
	padding: 75px 0px;
	color: #fff;
	background: url('../../assets/images/bgfiller.jpg');
	background-size:cover;

	img {
		transform: scale(0.6);
	}
}


#team_container {
	text-align: center;

	h3 {
		margin-bottom: 80px;
		font-size: 35px;
		display: inline-block;
		font-family: 'existence-hairline';
	}

	#right {
		color: #cfa1cd;
	}
}


#skills_container {
	padding-bottom: 50px;
	text-align: center;

	h3 {
		margin-bottom: 80px;
		font-size: 35px;
		display: inline-block;
		font-family: 'existence-hairline';
	}

	#right {
		color: #cfa1cd;
	}

	div.col-lg-4:nth-child(even) {
		margin-bottom: 30px;
	}
}

#blank_container {
	background: #eeeeee;
	
	.side_blank {
		height: 55px;
	}

	#blank {
		height: 25px;
		background: #fff;
	}
}

#services_container {
	padding: 80px 0px;
	background: #eeeeee;
	text-align: center;

	h4 {
		font-size: 30px;
	}

	#myCarousel img {
		margin: 30px auto;
		transform: scale(0.6);
	}

	#myCarousel p {
		margin: -50px 0 10px 0px;	
	}

	.carousel-indicators {
		bottom: -50px;
	}

}


#blank_container {
	height: 35px;
	background: #fff;

	span {
		visibility: hidden;
	}

	#blank_side {
		background: #eeeeee;
	}	

	#blank_main {		
	}
}


#portfolio_container {
	background: #fff;
	text-align: center;

	.nav {
		display: inline-block;
		border-bottom: transparent !important;
	}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
		background: #9f449b !important;
		color: #fff !important;
		border-radius: 5px !important;
		border: 1px solid #9f449b;
	}

	.nav-tabs>li>a {
		margin-right: 5px;
		border: 1px solid #000;
		border-radius: 5px;
		color: #000;
	}

	h3 {
		display: inline-block;
		font-family: 'existence-hairline';
		margin-bottom: 30px;
	}

	#right {
		color: #cfa1cd;
	}	

	img {
		transform: scale(0.5);
	    display: inline-block;
	    float: left;
	}
}


#contactus_container {
	text-align: center;

	h3 {
		margin-bottom: 80px;
		font-size: 35px;
		display: inline-block;
		font-family: 'existence-hairline';
	}

	#right {
		color: #cfa1cd;
	}

	input, textarea {
		border-radius: 0px;
	}

	button {
		padding: 15px 35px;
		background-color: #9f449b;
		color: #fff;
		border-bottom: 3px solid #6b2e68;
	}	

	p {
		text-align: initial;
	}	

	a {
	    float: left;
	    position: relative;
	    left: -15px;	
	}

	a img {
		transform: scale(0.6);
	}
}

#footer_container {
	text-align: center;

	h4 {
		font-size: 35px !important;
		padding: 20px 0px;
		display: inline-block;
		font-family: 'existence-light';
		font-size: 90px;
	}

	#right {
		color: #9f449b;
	}	
}